* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --brand-color-dark: #0d0e11;
  --bg-color: #16181d;
  --stroke-color: #292c34;
  --Main-prple: #bb72e9;
  --Main-red: #e3646e;
   --text-color-primary: #e2e4e9;
  --text-color-secondary: #c0c4ce;

  --font-family-asap: "Asap", sans-serif;
  --title-lg: 700 56px/120% var(--font-family-asap)
  --title-md: 700 24px/120% var(--font-family-asap)
  --title-sm: 700 16px/120% var(--font-family-asap)

  --font-family-inco: "Inconsolata", monospace;
  --subtitle: 400 20px/120% var(--font-family-inco)

  --font-family-mvpro: "Maven Pro", sans-serif;
  --text-md: 400 16px/140% var(--font-family-mvpro)
  --text-sm: 400 14px/140% var(--font-family-mvpro)
}

body {
  background-color: var(--bg-color);
  color: var(--text-color-secondary);
}
