#section-cards {
  header {
    padding-block: 72px 56px;
  }
  display: grid;
  justify-content: center;

  #card-box {
    width: 50%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 24px;

    .card {
      display: flex;
      flex-direction: column;
      cursor: pointer;

      border-radius: 12px;
      background: var(--stroke-color);

      padding: 12px;
      width: 330px;
      height: 280px;

      &:hover {
        border: 1.5px solid var(--Base-gray-300);
      }

      h3 {
        color: var(--text-color-primary);
        font: var(--title-sm);
        margin-bottom: 8px;
      }

      p {
        color: var(--Base-gray-200, #c0c4ce);

        font: var(--text-sm);
      }
    }

    img {
      width: 306px;
      height: 156px;
      border-radius: 8px;
    }
  }
}

#service {
  header {
    padding-block: 88px 56px;
  }
  background: var(--brand-color-dark);
  margin-top: 144px;

  display: grid;
  align-items: center;
  justify-content: center;

  main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 24px;
  }

  div {
    padding: 20px;
    border-radius: 12px;
    border: 2px solid var(--bg-color);

    margin-bottom: 120px;

    img {
      width: 48px;
      margin-bottom: 20px;
    }
  }
}
